.context-menu-container {
  background-color: transparent !important;
  left: -100px;
  button {
    background-color: blue !important;
    visibility: hidden !important;
    width: 0px;
    height: 0px;
    overflow: hidden;
  }
}

#more-menu {
  opacity: 0;
}

.dropdown-menu.show {
  display: flex;
  flex-direction: column;
}

.smacm-option {
  order: 1 !important;
}
